{{- $host := .Values._namespace.host | default (index .Values._cluster "root-host") }}
{{- $k8sClientSecret := lookup "v1" "Secret" "cozy-keycloak" "k8s-client" }}

{{- if $k8sClientSecret }}
{{- $apiServerEndpoint := index .Values._cluster "api-server-endpoint" }}
{{- $managementKubeconfigEndpoint := default "" (index .Values._cluster "management-kubeconfig-endpoint") }}
{{- if and $managementKubeconfigEndpoint (ne $managementKubeconfigEndpoint "") }}
{{- $apiServerEndpoint = $managementKubeconfigEndpoint }}
{{- end }}
{{- $k8sClient := index $k8sClientSecret.data "client-secret-key" | b64dec }}
{{- $k8sCa := index .Values._cluster "kube-root-ca" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: kubeconfig-{{ .Release.Namespace }}
stringData:
  kubeconfig: |
    apiVersion: v1
    clusters:
    - cluster:
        server: {{ $apiServerEndpoint }}
        certificate-authority-data: {{ $k8sCa }}
      name: cluster
    contexts:
    - context:
        cluster: cluster
        namespace: {{ .Release.Namespace }}
        user: keycloak
      name: {{ .Release.Namespace }}
    current-context: {{ .Release.Namespace }}
    users:
    - name: keycloak
      user:
        exec:
          apiVersion: client.authentication.k8s.io/v1beta1
          args:
          - oidc-login
          - get-token
          - --oidc-issuer-url=https://keycloak.{{ $host }}/realms/cozy
          - --oidc-client-id=kubernetes
          - --oidc-client-secret={{ $k8sClient }}
          - --skip-open-browser
          command: kubectl
{{- end }}
