---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "virtual-machine.fullname" . }}
  labels:
    apps.cozystack.io/user-service: "true"
    {{- include "virtual-machine.labels" . | nindent 4 }}
{{- if .Values.external }}
  annotations:
    networking.cozystack.io/wholeIP: "true"
{{- end }}
spec:
  type: {{ ternary "LoadBalancer" "ClusterIP" .Values.external }}
{{- if .Values.external }}
  externalTrafficPolicy: Local
    {{- if ((include "cozy-lib.network.disableLoadBalancerNodePorts" $) | fromYaml) }}
  allocateLoadBalancerNodePorts: false
    {{- end }}
{{- else }}
  clusterIP: None
{{- end }}
  selector:
    {{- include "virtual-machine.selectorLabels" . | nindent 4 }}
  ports:
{{- if .Values.external }}
    {{- if and (eq .Values.externalMethod "WholeIP") (not .Values.externalPorts) }}
    - port: 65535
    {{- else }}
    {{- range .Values.externalPorts }}
    - name: port-{{ . }}
      port: {{ . }}
      targetPort: {{ . }}
    {{- end }}
    {{- end }}
{{- else }}
    - port: 65535
{{- end }}
